@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.light {
  --primary: #f8f8f8;
  --secondary: #f3f4f6;
  --text: #212121;
  --sender: #dbeafe;

  background: var(--primary);
}

.dark {
  --primary: #212121;
  --secondary: #181818;
  --text: #f8f8f8;
  --sender: #3b83f650;

  background: var(--primary);
}

:root {
  --primary: #f8f8f8;
  --secondary: #f3f4f6;
  --text: #212121;
  --sender: #dbeafe;

  background: var(--primary);
}

body {
  background: var(--primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #212121;
    --secondary: #181818;
    --text: #f8f8f8;
    --sender: #3b82f6;

    background: var(--primary);
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: silver;
  border: 2px solid silver;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.loader {
  width: 11.2px;
  height: 11.2px;
  border-radius: 11.2px;
  box-shadow: 28px 0px 0 0 rgba(71, 75, 255, 0.2), 22.7px 16.5px 0 0 rgba(71, 75, 255, 0.4), 8.68px 26.6px 0 0 rgba(71, 75, 255, 0.6), -8.68px 26.6px 0 0 rgba(71, 75, 255, 0.8), -22.7px 16.5px 0 0 #474bff;
  animation: loaderAnimation 1s infinite linear;
}

@keyframes loaderAnimation {
  to {
    transform: rotate(360deg);
  }
}

.emoji_button:hover>div {
  display: flex;
}